/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* *:before, *::after{
	display: inline-block;
	box-sizing: border-box;
}
nav{
	box-sizing: border-box;
	margin: 0px;
	width: 100%;
	height:170px;
	display: inline-block;
}
nav ul a {
	display: inline-block;
	color: grey;;
	margin: 45px 50px 0px 65px;
	text-decoration: none;	
}
nav ul a:hover{
	text-decoration: line-through;

}
nav img{
	padding-top: 0px;
	width: 220px;
	margin: 35px 17px 0px 0px;
	float: right;
}
.midPage{
	display: inline-block;
	width:100%;
	padding-bottom: 70px;
	border-bottom: 2px black solid;
}
.midPage p{
	display: inline-block;
	font-size: 100px;
	text-align: center;
	box-sizing: border-box;
	padding: 50px 0px 0px 200px;
	font-family: cursive;	
}
.midPage img{
	height: 470px;
	padding-right: 20px;
	float: right;
}
.midPage a{
	display: block;
	border: 1px solid black;
	box-sizing: border-box;
	margin: 20px 20px 20px 125px;
	text-decoration: none;
	color: black;
	font-size: 25px;
	width: 200px;
	padding: 3px 0px;
}
.midPage a:hover{
	background-color: rgb(108, 181, 206);
	color: rgb(243, 242, 242);
	border: 1px rgb(153, 150, 150) solid;
} 
.mainContent{
	width: 100%;
	height: 700px;
	box-sizing: border-box;
	font-size: 20px;
	padding-top: 50px;
	border-bottom: 2px black solid;
	
}
.box1{
	width: 500px;
	display: inline-block;
	margin-left: 100px;	
}
.box2{
	width: 560px;
	display: inline-block;
	margin-left: 90px;
	padding-left: 40px;
}
.middle-img{
	display: inline-block;
	margin: 50px 0px 40px 80px;
	width: 1200px;
}
.box3{
	width: 350px;
	display: inline-block;
	margin-left: 100px;
}
.box4{
	width: 350px;
	display:inline-block;
	margin-left: 40px;
}
.box5{
	width: 350px;
	display: inline-block;
	margin-left: 40px;
}

footer{
	margin: 20px 20px 20px 100px;
}
footer p{
	text-align: center;
}